<nav>
    <div class="site-title">
        <a href="/"><h2>Blog NodeJS</h3></a>
        <p>A net Node JS</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users">User</a></li>
        <li><a href="/products/index">Products</a></li>
    </ul>
</nav>